@import "foundation_and_overrides";
@import "token-input";
@import "token-input-facebook";
@import "font-awesome.min";

@import "utilities/*";
@import "components/*";

.template {
	display: none;
}

.fa.delete {
	color: #600;
	cursor: pointer;
}

.fa.delete:hover {
	color: #900;
}

.wound {
	display: block;
	border: 1px #000 solid;
	height: 30px;
	position: relative;
	margin-bottom: 25px;
}

.wound span {
	position: absolute;
	font-size: 10px;
	top: -15px;
	right: 5px;
}
